[submodule "app/Plugin/Icing"]
	path = app/Plugin/Icing
	url = git@github.com:AudiologyHoldings/Icing.git
[submodule "app/Plugin/WebTechNick"]
	path = app/Plugin/WebTechNick
	url = git@github.com:webtechnick/CakePHP-WebTechNick-Plugin.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = git://github.com/cakephp/debug_kit.git
[submodule "app/Plugin/Seo"]
	path = app/Plugin/Seo
	url = git@github.com:webtechnick/CakePHP-Seo-Plugin.git
[submodule "app/Plugin/TwitterBootstrap"]
	path = app/Plugin/TwitterBootstrap
	url = git://github.com/loadsys/twitter-bootstrap-helper.git
